* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(243deg, #C17AE2 8.51%, #8800C7 30.01%, #420061 70.49%);
  display: inline-flex;
padding: 30px 44px 33px 40px;
align-items: center;
}

.container {
  display: flex;
width: 1356px;
flex-direction: column;
align-items: flex-start;
gap: -174px;
}

header {
  display: inline-flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
}

h1 {
  color: #FFF;
font-family: "DM Sans";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h2 {
  color: #FFF;
font-family: Lexend;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;
}

.des {
  color: #FFF;
font-family: Lexend;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}

p {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
width: 188px;
padding: 10px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

nav {
  display: flex;
width: 146px;
flex-direction: column;
align-items: flex-start;
gap: 22px;
}

nav button {
  background-color: white;
  color: #8A2BE2;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #ddd;
}

.parolades {
  display: flex;
  width: 595px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 17px;
}

.content-section {
  display: flex;
width: 773px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 100px;
}
.content-section a {
  color: white;
  text-decoration: underline;
  display: block;
  margin: 10px 0;
  font-size: 1.1em;
}

ul {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
footer {
  display: flex;
justify-content: space-between;
align-items: flex-end;
align-self: stretch;
}

footer a {
  color: #FFF;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
display: flex;
width: 188px;
padding: 10px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

footer p {
  display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
color: #FFF;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

